- if @today_notes
  %table.table.table-hover
    %thead
      %tr
        %th Measured At
        %th Sys
        %th Dia
        %th Pulse
        %th Artm
        %th Num
        %th Feeling
        %th Cmt

    %tbody
      - @today_notes.each do |note|
        %tr
          %td= note.measured_at.strftime("%Y-%m-%d %H:%M")
          %td.sys= note.sys
          %td.dia= note.dia
          %td.pulse= note.pulse
          %td.artm= note.artm
          %td= note.trials
          %td= note.feeling
          %td= note.cmt

= simple_form_for(@note) do |f|
  = f.error_notification

  .form-inputs
    - if @note.sys > 0  # updated note
      = f.input :measured_at, as: :datetime, start_year: @note.measured_at.year, end_year: Time.now.year, order: [:day, :month, :year]
    - else              # new note
      = f.input :measured_at, as: :datetime, start_year: Time.now.year, end_year: 2010, order: [:day, :month, :year], selected: Time.now
    = f.input :sys
    = f.input :dia
    = f.input :pulse
    - if @note.sys > 0  # updated note
      = f.input :artm
    - else              # new note
      = f.input :artm, selected: 'N'
    = f.input :trials
    - if @note.sys > 0  # updated note
      = f.input :feeling
    - else              # new note
      = f.input :feeling, selected: 'G'
    = f.input :cmt

  .form-actions
    = f.button :submit
