= simple_form_for(@note) do |f|
  = f.error_notification

  .form-inputs
    = f.input :measured_at
    = f.input :sys
    = f.input :dia
    = f.input :pulse
    = f.input :artm
    = f.input :num
    = f.input :feeling
    = f.input :cmt

  .form-actions
    = f.button :submit
