<div id="<%= dom_id note %>">
  <table class="table-auto">
    <tr>
      <td strong class="block font-medium mb-1">Measured at:</strong></td>
      <td><%= note.measured_at %></td>
    </tr>
    <tr>
      <td strong class="block font-medium mb-1">Systolic:</strong></td>
      <td class="<%= systolic_color(note.systolic) %>"><%= note.systolic %></td>
    </tr>
    <tr>
      <td strong class="block font-medium mb-1">Diastolic:</strong></td>
      <td class="<%= diastolic_color(note.diastolic) %>"><%= note.diastolic %></td>
    </tr>
    <tr>
      <td strong class="block font-medium mb-1">Heart rate:</strong></td>
      <td class="<%= heart_rate_color(note.heart_rate) %>"><%= note.heart_rate %></td>
    </tr>
    <tr>
      <td strong class="block font-medium mb-1 w-3xs">Artrial Fibrilation:</strong></td>
      <td class="<%= afib_color(note.afib) %> w-ms"><%= note.afib %></td>
    </tr>
    <tr>
      <td strong class="block font-medium mb-1">State:</strong></td>
      <td class="<%= state_color(note.state) %>"><%= note.state %></td>
    </tr>
    <tr>
      <td strong class="block font-medium mb-1">Statin dose:</strong></td>
      <td><%= note.statin_dose %></td>
    </tr>
    <tr>
      <td strong class="block font-medium mb-1">Euthyrox dose:</strong></td>
      <td><%= note.euthyrox_dose %></td>
    </tr>
    <tr>
      <td strong class="block font-medium mb-1">Weight:</strong></td>
      <td><%= note.weight %></td>
    </tr>
    <tr>
      <td strong class="block font-medium mb-1">Comment:</strong></td>
      <td><%= note.comment %></td>
    </tr>
  </table>
</div>
