    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">


      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th></th>
            <th>Measured at</th>
            <th>Systolic</th>
            <th>Diastolic</th>
            <th>Heart Rate</th>
            <th>AFib</th>
            <th>State</th>
            <th>Statin Dose</th>
            <th>Euthyrox Dose</th>
            <th>Weight</th>
            <th>Comment</th>
            <!--th>Action</th-->
          </tr>
        </thead>
        <tbody>
          <% notes.each do |note| %>
            <tr>
              <td>
                <%= link_to edit_note_path(note), class: "flex items-center text-blue-600" do %>
                  <svg class="text-gray h-6 w-6" xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                  </svg>
                <% end %>
              </td>
              <td><%= note.measured_at.strftime("%Y-%m-%d %H:%M") %></td>
              <%= render 'shared/systolic_colorized',  value: note.systolic %>
              <%= render 'shared/diastolic_colorized', value: note.diastolic %>
              <%= render 'shared/heart_rate_colorized', value: note.heart_rate %>
              <%= render 'shared/afib_colorized', value: note.afib %>
              <%= render 'shared/state_colorized', value: note.state %>
              <td><%= note.statin_dose %></td>
              <td><%= note.euthyrox_dose %></td>
              <td><%= note.weight %></td>
              <td><%= note.comment %></td>
              <!--td><%= link_to "Edit", edit_note_path(note), class: "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %></td-->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
