<div id="<%= dom_id note %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Measured at:</strong>
    <%= note.measured_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Systolic:</strong>
    <%= note.systolic %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Diastolic:</strong>
    <%= note.diastolic %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Heart rate:</strong>
    <%= note.heart_rate %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Afib:</strong>
    <%= note.afib %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= note.state %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Statin dose:</strong>
    <%= note.statin_dose %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Euthyrox dose:</strong>
    <%= note.euthyrox_dose %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= note.weight %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= note.comment %>
  </p>
</div>
