%h1 Listing notes

%table.table.table-hover
  %thead
    %tr
      %th M datetime
      %th Sys
      %th Dia
      %th Pulse
      %th Artm
      %th Num
      %th Feeling
      %th Cmt
      %th
      %th
      %th

  %tbody
    - @notes.each do |note|
      %tr
        %td= note.m_datetime
        %td.sys= note.sys
        %td.dia= note.dia
        %td.pulse= note.pulse
        %td.artm= note.artm
        %td= note.num
        %td= note.feeling
        %td= note.cmt
        %td= link_to 'Show', note
        %td= link_to 'Edit', edit_note_path(note)
        %td= link_to 'Destroy', note, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Note', new_note_path
