<% content_for :title, "Notes" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Notes</h1>
    <%= link_to "New note", new_note_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="notes" class="min-w-full">
    <h2 class="text-2xl font-extrabold p-4 dark:text-white">Morning Data</h2>
    <% if @morning_notes.any? %>
        <%= render 'notes', notes: @morning_notes %>
    <% else %>
      <p class="text-center my-10">No morning notes found.</p>
    <% end %>
  </div>

  <div id="notes" class="min-w-full">
      <h2 class="text-2xl font-extrabold p-4 dark:text-white">Daytime Data</h2>
    <% if @daytime_notes.any? %>
        <%= render 'notes', notes: @daytime_notes %>
    <% else %>
      <p class="text-center my-10">No daytaimenotes found.</p>
    <% end %>
  </div>

  <div id="notes" class="min-w-full">
    <h2 class="text-2xl font-extrabold p-4 dark:text-white">Evening Data</h2>
    <% if @evening_notes.any? %>
        <%= render 'notes', notes: @evening_notes %>
    <% else %>
      <p class="text-center my-10">No evening notes found.</p>
    <% end %>
  </div>

  <div id="notes" class="min-w-full">
    <h2 class="text-2xl font-extrabold p-4 dark:text-white">Night Data</h2>
    <% if @night_notes.any? %>
        <%= render 'notes', notes: @night_notes %>
    <% else %>
      <p class="text-center my-10">No night notes found.</p>
    <% end %>
  </div></div>
